html
  head
    title!= title
  body
    h1 !{message}
    table(border='1')
      thead
         th Name
         th Species
         th Breed
         th Age
         th Colour or markings
      tbody
        each pet in animals
          tr
            td #{pet.name}
            td #{pet.species}
            td #{pet.breed}
            td #{pet.age}
            td #{pet.colour}